@model BPC.Data.Category

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr/>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                   Price
                </th>
                <th>
                    Page Count
                </th>
           
                <th>
                    Publisher
                </th>
         
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Books)
            {
                <tr>
                    <td>
                      <a asp-controller="Books" asp-action="Details" asp-route-id="@item.Id" > 
                      @Html.DisplayFor(modelItem => item.Name)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PageCount)
                    </td>
                
                    <td>
                        @Html.DisplayFor(modelItem => item.Publisher.Name)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id"> </a>
                    </td>
  
                </tr>
            }
 
</div>

